<!doctype html>
<html ng-app="app" lang="en">
<head>
    <meta charset="UTF-8">
    <title>MadCraft admin</title>
    <script src="js/angular.min.js"></script>
    <script src="js/controller.js" type="module"></script>
    <script src="js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="admin_ctrl"  ng-init="login.init()">
    <form class="form-signin text-center" ng-if="login.visible">
        <img class="mb-4" src="media/2.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label class="sr-only">Email address</label>
        <input type="text" ng-model="login.username" my-enter="login.submit()" placeholder="Login" required="" autofocus="" class="form-control">
        <label class="sr-only">Password</label>
        <input type="password" ng-model="login.password" my-enter="login.submit()" class="form-control" placeholder="Password" required="">
        <div class="checkbox mb-3">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login.submit()">Sign in</button>
    </form>
    <div ng-if="!login.visible">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="media/2.png" width="30" height="30" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" ng-click="worlds.update(0)">Список миров</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#" ng-click="login.logout()">Выход</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="card" ng-if="worlds.visible">
                <div class="card-header">
                    Активные миры (<span id="count">{{ worlds.count }}</span>)
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Заголовок</th>
                                <th>Количество игроков</th>
                                <th>Количество чанков</th>
                                <th>Сид</th>
                                <th>Функции</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="world in worlds.rows">
                                <td>{{ world.title }}</td>
                                <td>{{ world.online }}/{{ world.players }}</td>
                                <td>{{ world.chunks }}</td>
                                <td>{{ world.seed }}</td>
                                <td>
                                    <button type="button" class="btn btn-info" ng-click="players.update(world.id, 0)">
                                        i
                                    </button>
                                </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item" ng-repeat="pagin in worlds.pagin"><a class="page-link" href="#" ng-click="worlds.update(pagin.id)">{{ pagin.id + 1 }}</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            
            <div class="card" ng-if="players.visible">
                <div class="card-header">
                    Список игроков в мире (<span id="count">{{ players.count }}</span>)
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Логин</th>
                                <th>Администратор</th>
                                <th>В игре</th>
                                <th>Инвентарь</th>
                                <th width="100px">Функции</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="player in players.rows">
                                <td>{{ player.username }}</td>
                                <td>{{ player.is_admin ? "да" : "нет" }}</td>
                                <td>{{ player.online ? "да" : "нет" }}</td>
                                <td>{{ player.items }} / 42</td>
                                <td>
                                    <button type="button" class="btn btn-info" ng-click="info.update(player.world, player.id)">
                                        i
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                     <nav>
                        <ul class="pagination">
                            <li class="page-item" ng-repeat="pagin in players.pagin"><a class="page-link" href="#" ng-click="players.update(player.world, pagin.id)">{{ pagin.id + 1 }}</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            
            <div class="card" ng-if="info.visible">
                <div class="card-header">
                    Информация об игроке
                </div>
                <div class="card-body">
                    <p>Ник: {{ info.username }}</p>
                    <p>Здоровье: {{ info.indicators.live.value }}</p>
                    <p>Пройдено: {{ info.stats.distance }}</p>
                </div>
            </div>
        </div>
</body>
</html>